%nav.navbar.navbar-inverse
  .container-fluid
    #navigation.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-left
        %li= link_to 'Business List', businesses_path
        %li= link_to 'Recent Reviews', recent_review_path
        %li= link_to 'Add a Business', new_business_path
      - if current_user
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a.dropdown-toggle{id:"dlabel", "aria-expanded" => "false", "data-target" => "#", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Welcome,  #{current_user.full_name}
              %span.caret
            %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
              %li= link_to 'View Profile', current_user
              %li.divider{:role => "separator"}
              %li= link_to 'Sign Out', sign_out_path, method: 'delete'
      - else
        %ul.nav.navbar-nav.navbar-right
          %li= link_to 'Log In', sign_in_path
          %li= link_to 'Register', sign_up_path
