%html(lang="en-US")
  %head
    %title A Yelp Clone
    %meta(name="description" content="Yelp Clone")
    %meta(name="author" content="Alex Yang")
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link(href='https://fonts.googleapis.com/css?family=Hind+Siliguri:400,500,700' rel='stylesheet' type='text/css')
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all", 'data-turbolinks-track' => true
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = yield(:head)
  %body
    %header
      = render 'shared/header'
    #main{:role => "main"}
  .container
    .row
      .span12
        = render 'shared/messages'
        = yield
    %footer
      %div.col-lg-12{:style => "text-align: center"}
        &copy 2015
        %a{:href => "", :target => "_blank"} Visit my Portfolio Web Page
